Game/Game.ControlPanel/Service References/DebugServiceRef/DebugService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DebugService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60044/DebugService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60044/DebugService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDebugService_CheckMyAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckMyAccess" />
  </wsdl:message>
  <wsdl:message name="IDebugService_CheckMyAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckMyAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IDebugService_GrantMeAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:GrantMeAccess" />
  </wsdl:message>
  <wsdl:message name="IDebugService_GrantMeAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrantMeAccessResponse" />
  </wsdl:message>
  <wsdl:message name="IDebugService_RevokeMyAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:RevokeMyAccess" />
  </wsdl:message>
  <wsdl:message name="IDebugService_RevokeMyAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:RevokeMyAccessResponse" />
  </wsdl:message>
  <wsdl:portType name="IDebugService">
    <wsdl:operation name="CheckMyAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IDebugService/CheckMyAccess" message="tns:IDebugService_CheckMyAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDebugService/CheckMyAccessResponse" message="tns:IDebugService_CheckMyAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GrantMeAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IDebugService/GrantMeAccess" message="tns:IDebugService_GrantMeAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDebugService/GrantMeAccessResponse" message="tns:IDebugService_GrantMeAccess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RevokeMyAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IDebugService/RevokeMyAccess" message="tns:IDebugService_RevokeMyAccess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDebugService/RevokeMyAccessResponse" message="tns:IDebugService_RevokeMyAccess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDebugService" type="tns:IDebugService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckMyAccess">
      <soap:operation soapAction="http://tempuri.org/IDebugService/CheckMyAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrantMeAccess">
      <soap:operation soapAction="http://tempuri.org/IDebugService/GrantMeAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RevokeMyAccess">
      <soap:operation soapAction="http://tempuri.org/IDebugService/RevokeMyAccess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DebugService">
    <wsdl:port name="BasicHttpBinding_IDebugService" binding="tns:BasicHttpBinding_IDebugService">
      <soap:address location="http://localhost:60044/DebugService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>